<!-- Let's output the settings passed to this template -->
{% set text_field = {
  '#type': 'processed_text',
  '#format': settings.text_field.format,
  '#text': settings.text_field.value, 
  '#attributes': { class: 'text_field' },
} %}

<h1>Text Field</h1>
{{ text_field }}
<h2>Integer Field</h2>
<p>Integer Value: {{ settings.integer_field }}<b></b></p>

<a href="https://www.gitlab.com/ar-astral">Visit Astral<a/><p>Ciao!</p>